# Integrantes:


*   Daniela Gonzalez
*   Estiven Pira

*   Sofía Gómez

**Punto 1**

In [ ]:
a = "Sofia"
b = 21

In [ ]:
print("Hola soy", (a), "y tengo", (b), "años")

Hola soy Sofia y tengo 21 años

**Punto 2**

In [ ]:
import math

def calcular_area_circulo(radio):
    area = math.pi * radio**2
    return area

In [ ]:
radio = float(input("Ingresa el radio del círculo: "))

Ingresa el radio del círculo: 8

In [ ]:
area_del_circulo = calcular_area_circulo(radio)
print(f"El área del círculo con radio {radio} es: {area_del_circulo}")

El área del círculo con radio 8.0 es: 201.06192982974676

**Punto 3**

In [ ]:
def calcular_promedio(lista_numeros):
    total = sum(lista_numeros)
    promedio = total / len(lista_numeros)
    return promedio

In [ ]:
l3 = [5, 4, 8, 3, 5, 9, 3, 3, 8 ]

In [ ]:
promedio = calcular_promedio(l3)
print(f"El promedio de la lista {l3} es: {promedio}")

El promedio de la lista [5, 4, 8, 3, 5, 9, 3, 3, 8] es: 5.333333333333333

**Punto 4**

In [ ]:
l4 = [3, 2, 12, 5, 44, 23, 7]

In [ ]:
for i in l4:
  if i > 10:
    print(i)

12
44
23

**Punto 5**

In [ ]:
d = {'arroz': "5250",
     'aceite': '3500',
     'panela': '6250'}

"Ingrese el producto en ['']"

"Ingrese el producto en ['']"

In [ ]:
d['panela']

'6250'

**Punto 6**

In [ ]:
def es_primo(a):
    if a <= 1:
        return False

    for i in range(2, a):
        if a % i == 0:
            return False

    return True

In [ ]:
print(es_primo(5))  # True
print(es_primo(10))  # False

True
False

**Punto 7**

In [ ]:
l7 = ["Lau", "Sofi", "Alex", "Pepa"]
a = 0
while a < len (l7):
  print (l7[a])
  if l7 [a]== "Alex":
    print("la encontramos")
    break
  a += 1

Lau
Sofi
Alex
la encontramos

**Punto 8**

In [ ]:
def invertir_cadena(c8):
    cadena_invertida = c8[::-1]
    return cadena_invertida

In [ ]:
c8 = "satinobsaracedsatahcsalnatnacneemsatidaicrovidysaduivysaretlos,satitiuqihcsalysadrogysacalfsal,satirrapahcsalysatlasalnatsugeM"

In [ ]:
cadena_invertida = invertir_cadena(c8)
print(f"Cadena original: {c8}")
print(f"Cadena invertida: {cadena_invertida}")

Cadena original: satinobsaracedsatahcsalnatnacneemsatidaicrovidysaduivysaretlos,satitiuqihcsalysadrogysacalfsal,satirrapahcsalysatlasalnatsugeM
Cadena invertida: Megustanlasaltasylaschaparritas,lasflacasygordasylaschiquititas,solterasyviudasydivorciaditasmeencantanlaschatasdecarasbonitas

**Punto 9**

In [ ]:
lpares = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
lpares

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**Punto 10**

In [ ]:
def fibonacci(n):
  fib_num = []
  a, b = 0, 1
  for _ in range(n):
    fib_num.append(a)
    a, b = b, a + b
  return fib_num

try:
    num_user = int(input("Número de términos Fibonacci a generar: "))
    if num_user <= 0:
        print("Ingresar un número válido mayor a cero.")
    else:
        respuesta = fibonacci(num_user)
        print(f"Los primeros {num_user} términos de la serie de Fibonacci son:")
        print(respuesta)
except ValueError:
    print("Ingrese un número válido.")

Número de términos Fibonacci a generar: 15
Los primeros 15 términos de la serie de Fibonacci son:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

**Punto 11**

In [50]:
def calcular_interes_simple(principal, tasa_interes, tiempo_años):
    interes = principal * tasa_interes * tiempo_años
    return interes

In [53]:
principal = float(input("Valor principal: "))
tasa_interes = float(input("Tasa de interés (como decimal): "))
tiempo_años = float(input("Tiempo: "))

Valor principal: 500
Tasa de interés (como decimal): 5.0
Tiempo: 5

In [54]:
interes_calculado = calcular_interes_simple(principal, tasa_interes, tiempo_años)
print(f"El interés simple es: {interes_calculado:.2f}")

El interés simple es: 12500.00

**Punto 12**

In [60]:
def calcular_promedio_precios(precios):
    total = sum(precios)
    promedio = total / len(precios)
    return promedio

In [61]:
l12 = [1234, 1324, 1432, 1423, 1621,]

In [62]:
promedio_precios = calcular_promedio_precios(l12)
print(f"La lista de precios de acciones es: {l12}")
print(f"El promedio de precios de acciones es: {promedio_precios:.2f}")

La lista de precios de acciones es: [1234, 1324, 1432, 1423, 1621]
El promedio de precios de acciones es: 1406.80

**Punto 13**

In [ ]:
def de_dolares_a_euros(dolar, tasa):
    euros = dolar * tasa
    return euros

tasa = 0.92

try:
    cantidad_dolares = float(input("# de dolares a euros"))
    cantidad_euros = de_dolares_a_euros(cantidad_dolares, tasa)
    print(f"{cantidad_dolares} dólares son {cantidad_euros:.2f} euros.")
except ValueError:
    print("Por favor, ingresa una cantidad válida en dólares.")

# de dolares a euros5
5.0 dólares son 4.60 euros.

**Punto 14**

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        factorial = 1
        for i in range(2, n + 1):
            factorial *= i
        return factorial

try:
   Dato = int(input("Ingresa un número para calcular su factorial: "))
   if Dato < 0:
    print("No números negativos.")
   else:
        resultado_factorial = factorial(Dato)
        print(f"El factorial de {Dato} es {resultado_factorial}")
except ValueError:
    print("Por favor, ingresa un número entero válido.")

Ingresa un número para calcular su factorial: 8
El factorial de 8 es 40320

**Punto 15**

In [55]:
def saldo_mas_alto(cuentas):
    saldo_mas_alto = max(cuentas.values())

    for cuenta, saldo in cuentas.items():
        if saldo == saldo_mas_alto:
            return cuenta, saldo

In [56]:
cuentas_bancarias = {"Laura": 2500,
                     "Sofi": 7500,
                     "Estiven": 10000}

In [57]:
nombre_cuenta_mas_alto, saldo_mas_alto = saldo_mas_alto(cuentas_bancarias)

In [58]:
print("Cuentas bancarias:")
for cuenta, saldo in cuentas_bancarias.items():
    print(f"{cuenta}: ${saldo:.2f}")

Cuentas bancarias:
Laura: $2500.00
Sofi: $7500.00
Estiven: $10000.00

In [59]:
print(f"\nLa cuenta con el saldo más alto es {nombre_cuenta_mas_alto} con un saldo de ${saldo_mas_alto:.2f}")

La cuenta con el saldo más alto es Estiven con un saldo de $10000.00

**Punto 16**

In [ ]:
def numeros_triangulares(n):
    triangulares = []
    suma = 0
    for i in range(1, n + 1):
        suma += i
        triangulares.append(suma)
    return triangulares

try:
    n = int(input("cantidad de números triangulares a calcular: "))
    if n <= 0:
        print("Solo numeros mayores a cero.")
    else:
        jtriangulares = numeros_triangulares(n)
        print(f"Los primeros {n} números triangulares son:")
        print(jtriangulares)
except ValueError:
    print("Ingresar un número entero válido.")

cantidad de números triangulares a calcular: 3
Los primeros 3 números triangulares son:
[1, 3, 6]

**Punto 17**

In [ ]:
def calcular_descuento(precio_inicial, porcentaje_descuento):
    descuento = precio_inicial * (porcentaje_descuento / 100)
    precio_final = precio_inicial - descuento
    return precio_final

In [ ]:
precio_original = 300
descuento_percent = 35
precio_con_descuento = calcular_descuento(precio_original, descuento_percent)

In [ ]:
print(f"Precio original: ${precio_original}")
print(f"Descuento: {descuento_percent}%")
print(f"Precio con descuento: ${precio_con_descuento}")

Precio original: $300
Descuento: 35%
Precio con descuento: $195.0

**Punto 18**

In [63]:
def obtener_numeros_pares(lista_numeros):
    numeros_pares = [numero for numero in lista_numeros if numero % 2 == 0]
    return numeros_pares

In [64]:
l_18 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numeros_pares = obtener_numeros_pares(l_18)

In [65]:
print("Lista:", l_18)
print("Números pares:", numeros_pares)

Lista: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Números pares: [2, 4, 6, 8, 10]

**Punto 19**

In [66]:
def encontrar_numero_mas_grande(lista_numeros):
    mas_grande = max(lista_numeros)
    return mas_grande

def encontrar_numero_mas_pequeno(lista_numeros):
    mas_pequeno = min(lista_numeros)
    return mas_pequeno

In [70]:
l19 = [67, 21, 8, 86, 72, 106, 13, 5]

In [71]:
numero_mas_grande = encontrar_numero_mas_grande(l19)
numero_mas_pequeno = encontrar_numero_mas_pequeno(l19)

In [72]:
print("Lista de números:", l19)
print(f"Número más grande: {numero_mas_grande}")
print(f"Número más pequeño: {numero_mas_pequeno}")

Lista de números: [67, 21, 8, 86, 72, 106, 13, 5]
Número más grande: 106
Número más pequeño: 5

**Punto 20**

In [ ]:
def pell(n):
    pell_serie = [0, 1]
    for i in range(2, n):

**Punto 21**

In [ ]:
def calcular_amortizacion(n):

**Punto 22**

In [ ]:
def perfecto(number):
    suma_de_divisores = 0
    for i in range(1, number):
        if number % i == 0:
            suma_de_divisores += i
    return suma_de_divisores == number

try:
    num = int(input("Verificar si es un número perfecto: "))

    if num <= 0:
        print("Número natural mayor a cero.")
    elif perfecto(num):
        print(f"{num} es un número perfecto.")
    else:
        print(f"{num} no es un número perfecto.")
except ValueError:
    print("Por favor, ingresa un número válido.")

Verificar si es un número perfecto: 28
28 es un número perfecto.

**Punto 23**

In [ ]:
def main():
    tasas_interes = {"personal": 12.0,
                     "educativo":5.0,
                     "hipotecario": 7.5,
                     "automotriz": 6.2,}
    tipo_prestamo = input("Ingresa el tipo de préstamo: ").lower()
    if tipo_prestamo in tasas_interes:
        tasa = tasas_interes[tipo_prestamo]
        print(f"La tasa de interés para el préstamo '{tipo_prestamo}' es: {tasa}%")
    else:
        print("Tipo de préstamo no encontrado.")

if __name__ == "__main__":
    main()

Ingresa el tipo de préstamo: educativo
La tasa de interés para el préstamo 'educativo' es: 5.0%

**Punto 24**

In [ ]:
import math

In [ ]:
def calcular_media_geometrica(l24):
    producto = 1
    for numero in l24:
        producto *= numero
    media_geometrica = math.pow(producto, 1 / len(l24))
    return media_geometrica

In [ ]:
l24 = [18, 24, 8, 42, 17, 8]

In [ ]:
media_geom = calcular_media_geometrica(l24)
print(f"La media geométrica de la lista {l24} es: {media_geom}")

La media geométrica de la lista [18, 24, 8, 42, 17, 8] es: 16.439691194420252

**Punto 25**

In [ ]:
def encontrar_segundo_mas_grande(l25):
    if len(l25) < 2:
        return None

    primer_maximo = max(l25)
    lista_sin_maximo = [num for num in l25 if num != primer_maximo]
    segundo_maximo = max(lista_sin_maximo)
    return segundo_maximo

In [ ]:
l25 = [40, 87, 29, 67, 108, 6, 51]

In [ ]:
segundo_mas_grande = encontrar_segundo_mas_grande(l25)

if segundo_mas_grande is not None:
    print(f"El segundo número más grande en la lista {l25} es: {segundo_mas_grande}")
else:
    print("No se puede encontrar el segundo número más grande.")

El segundo número más grande en la lista [40, 87, 29, 67, 108, 6, 51] es: 87

**Punto 26**

In [ ]:
def lucas(n):
    lucasl = [2, 1]
    for i in range(2, n):
        lucasl.append(lucasl[i - 1] + lucasl[i - 2])
    return lucasl

try:
    num = int(input("Números Lucas que desea generar: "))
    if num <= 0:
        print("Número mayor a cero.")
    else:
        resultado = lucas(num)
        print(f"Los primeros {num} números de la serie de los números Lucas son:")
        print(resultado)
except ValueError:
    print("Ingrese un número válido.")

Números Lucas que desea generar: 5
Los primeros 5 números de la serie de los números Lucas son:
[2, 1, 3, 4, 7]

**Punto 27**

In [ ]:
def cuota_mensual(monto, tasa_anual, cuotas):
    tasa_mensual = tasa_anual / 12 / 100
    cuota = (monto * tasa_mensual) / (1 - (1 + tasa_mensual) ** -cuotas)
    return cuota

try:
    monto = float(input("Valor préstamo: "))
    tasa = float(input("Tasa interés anual: "))
    cuotas = int(input("Ingresa el número de cuotas: "))

    cuota= cuota_mensual(monto, tasa, cuotas)

    print(f"Mensualidad del préstamo es: {cuota:.2f}")
except ValueError:
    print("Ingresar valores numéricos válidos.")

Valor préstamo: 5000000
Tasa interés anual: 2
Ingresa el número de cuotas: 34
Mensualidad del préstamo es: 151387.32

**Punto 28**

In [ ]:
def es_numero_armstrong(n28):
    n = len(str(n28))
    suma_digitos = sum(int(digito) ** n for digito in str(n28))
    return n28 == suma_digitos

In [ ]:
n28 = int(input("Ingresa un número: "))
if es_numero_armstrong(n28):
    print(f"{n28} es un número de Armstrong.")
else:
    print(f"{n28} no es un número de Armstrong.")

Ingresa un número: 153
153 es un número de Armstrong.

**Punto 29**

In [ ]:
Moneda = {"USD": "Dólar estadounidense",
          "EUR": "Euro",
          "CNY": "Renminbi"}


Tasas_conversion = {"USD": 0.8,
                    "EUR": 1.8,
                    "CNY": 0.3}

def conversion_moneda(amount, desde, hacia):
    if desde not in Tasas_conversion or hacia not in Tasas_conversion:
        return "Moneda no soportada"

    Monto_convertido = amount * Tasas_conversion[hacia] / Tasas_conversion[desde]
    return Monto_convertido

In [ ]:
amount = float(input("Ingrese la cantidad de dinero: "))
desde = input("Ingrese la moneda de origen (USD, EUR, CNY): ").upper()
hacia = input("Ingrese la moneda de destino (USD, EUR, CNY): ").upper()

Ingrese la cantidad de dinero: 15
Ingrese la moneda de origen (USD, EUR, CNY): USD
Ingrese la moneda de destino (USD, EUR, CNY): EUR

In [ ]:
Monto_convertido = conversion_moneda(amount, desde, hacia)

if isinstance(Monto_convertido, str):
    print(Monto_convertido)
else:
    print(f"{amount:.2f} {Moneda[desde]} equivale a {Monto_convertido:.2f} {Moneda[hacia]}")

15.00 Dólar estadounidense equivale a 33.75 Euro

**Punto 30**

In [ ]:
import math

def calcular_desviacion_estandar(lista_numeros):
    n = len(lista_numeros)
    if n <= 1:
        return 0

    media = sum(lista_numeros) / n
    suma_cuadrados = sum((x - media) ** 2 for x in lista_numeros)
    desviacion_estandar = math.sqrt(suma_cuadrados / (n - 1))
    return desviacion_estandar

In [73]:
l30 = [61, 94, 21, 88, 48, 57, 13, 15]

In [74]:
desviacion_estandar = calcular_desviacion_estandar(l30)
print("Lista de números:", l30)
print(f"La desviación estándar es: {desviacion_estandar:.2f}")

Lista de números: [61, 94, 21, 88, 48, 57, 13, 15]
La desviación estándar es: 31.60